.pride--agender {
  background-image: linear-gradient(#000 calc((100%/7) * 1), #bcc5c6 calc((100%/7) * 1), #bcc5c6 calc((100%/7) * 2), #fff calc((100%/7) * 2), #fff calc((100%/7) * 3), #b5f680 calc((100%/7) * 3), #b5f680 calc((100%/7) * 4), #fff calc((100%/7) * 4), #fff calc((100%/7) * 5), #bcc5c6 calc((100%/7) * 5), #bcc5c6 calc((100%/7) * 6), #000 calc((100%/7) * 6));
}

.pride--agender2 {
  background-image: linear-gradient(#000 calc((100%/5) * 1), #fff calc((100%/5) * 1), #fff calc((100%/5) * 2), #b5f680 calc((100%/5) * 2), #b5f680 calc((100%/5) * 3), #fff calc((100%/5) * 3), #fff calc((100%/5) * 4), #000 calc((100%/5) * 4));
}

.pride--androgyne {
  background-image: linear-gradient(#db4e62 calc((100%/5) * 1), #c080d8 calc((100%/5) * 1), #c080d8 calc((100%/5) * 2), #e9cc54 calc((100%/5) * 2), #e9cc54 calc((100%/5) * 3), #696969 calc((100%/5) * 3), #696969 calc((100%/5) * 4), #5381d8 calc((100%/5) * 4));
}

.pride--androgyne2 {
  background-image: linear-gradient(#fe007f calc((100%/3) * 1), #9833ff calc((100%/3) * 1), #9833ff calc((100%/3) * 2), #00b7e8 calc((100%/3) * 2));
}

.pride--aro {
  background-image: linear-gradient(#3da542 calc((100%/5) * 1), #a9d27a calc((100%/5) * 1), #a9d27a calc((100%/5) * 2), #fff calc((100%/5) * 2), #fff calc((100%/5) * 3), #a9a9a9 calc((100%/5) * 3), #a9a9a9 calc((100%/5) * 4), #000 calc((100%/5) * 4));
}

.pride--aro2 {
  background-image: linear-gradient(#3da542 calc((100%/5) * 1), #a9d27a calc((100%/5) * 1), #a9d27a calc((100%/5) * 2), #ff6 calc((100%/5) * 2), #ff6 60%, #a9a9a9 calc((100%/5) * 3), #a9a9a9 calc((100%/5) * 4), #000 calc((100%/5) * 4));
}

.pride--aro3 {
  background-image: linear-gradient(#7dbe00 calc((100%/4) * 1), #fff300 calc((100%/4) * 1), #fff300 calc((100%/4) * 2), #ff7000 calc((100%/4) * 2), #ff7000 calc((100%/4) * 3), #000 calc((100%/4) * 3));
}

.pride--ace {
  background-image: linear-gradient(#000 calc((100%/4) * 1), #a3a3a3 calc((100%/4) * 1), #a3a3a3 calc((100%/4) * 2), #fff calc((100%/4) * 2), #fff calc((100%/4) * 3), #800080 calc((100%/4) * 3));
}

.pride--bear {
  background-image: linear-gradient(#623500 calc((100%/7) * 1), #d66300 calc((100%/7) * 1), #d66300 calc((100%/7) * 2), #fede63 calc((100%/7) * 2), #fede63 calc((100%/7) * 3), #fee7b9 calc((100%/7) * 3), #fee7b9 calc((100%/7) * 4), #fff calc((100%/7) * 4), #fff calc((100%/7) * 5), #545454 calc((100%/7) * 5), #545454 calc((100%/7) * 6), #000 calc((100%/7) * 6));
}

.pride--bi {
  background-image: linear-gradient(#d60270 calc((100%/5) * 2), #9b4f96 calc((100%/5) * 2), #9b4f96 calc((100%/5) * 3), #0038a8 calc((100%/5) * 3));
}

.pride--demiboy {
  background-image: linear-gradient(#7f7f7f calc((100%/7) * 1), #c3c3c3 calc((100%/7) * 1), #c3c3c3 calc((100%/7) * 2), #9ad9ea calc((100%/7) * 2), #9ad9ea calc((100%/7) * 3), #fff calc((100%/7) * 3), #fff calc((100%/7) * 4), #9ad9ea calc((100%/7) * 4), #9ad9ea calc((100%/7) * 5), #c3c3c3 calc((100%/7) * 5), #c3c3c3 calc((100%/7) * 6), #7f7f7f calc((100%/7) * 6));
}

.pride--demigender {
  background-image: linear-gradient(#7f7f7f calc((100%/7) * 1), #c3c3c3 calc((100%/7) * 1), #c3c3c3 calc((100%/7) * 2), #fbff74 calc((100%/7) * 2), #fbff74 calc((100%/7) * 3), #fff calc((100%/7) * 3), #fff calc((100%/7) * 4), #fbff74 calc((100%/7) * 4), #fbff74 calc((100%/7) * 5), #c3c3c3 calc((100%/7) * 5), #c3c3c3 calc((100%/7) * 6), #7f7f7f calc((100%/7) * 6));
}

.pride--demigirl {
  background-image: linear-gradient(#7f7f7f calc((100%/7) * 1), #c3c3c3 calc((100%/7) * 1), #c3c3c3 calc((100%/7) * 2), #feaec9 calc((100%/7) * 2), #feaec9 calc((100%/7) * 3), #fff calc((100%/7) * 3), #fff calc((100%/7) * 4), #feaec9 calc((100%/7) * 4), #feaec9 calc((100%/7) * 5), #c3c3c3 calc((100%/7) * 5), #c3c3c3 calc((100%/7) * 6), #7f7f7f calc((100%/7) * 6));
}

.pride--gay {
  background-image: linear-gradient(#e40303 calc((100%/6) * 1), #ff8c00 calc((100%/6) * 1), #ff8c00 calc((100%/6) * 2), #ffed00 calc((100%/6) * 2), #ffed00 calc((100%/6) * 3), #008026 calc((100%/6) * 3), #008026 calc((100%/6) * 4), #004dff calc((100%/6) * 4), #004dff calc((100%/6) * 5), #750787 calc((100%/6) * 5));
}

.pride--genderfluid {
  background-image: linear-gradient(#ff75a2 calc((100%/5) * 1), #fff calc((100%/5) * 1), #fff calc((100%/5) * 2), #be18d6 calc((100%/5) * 2), #be18d6 calc((100%/5) * 3), #000 calc((100%/5) * 3), #000 calc((100%/5) * 4), #333ebd calc((100%/5) * 4));
}

.pride--genderqueer {
  background-image: linear-gradient(#b899dd calc((100%/3) * 1), #fff calc((100%/3) * 1), #fff calc((100%/3) * 2), #6b8e3a calc((100%/3) * 2));
}

.pride--gilbertbaker {
  background-image: linear-gradient(#ff69b5 calc((100%/8) * 1), #f00 calc((100%/8) * 1), #f00 calc((100%/8) * 2), #ff8f00 calc((100%/8) * 2), #ff8f00 calc((100%/8) * 3), #ff0 calc((100%/8) * 3), #ff0 calc((100%/8) * 4), #008f00 calc((100%/8) * 4), #008f00 calc((100%/8) * 5), #00c1c1 calc((100%/8) * 5), #00c1c1 calc((100%/8) * 6), #3e0099 calc((100%/8) * 6), #3e0099 calc((100%/8) * 7), #8f008f calc((100%/8) * 7));
}

.pride--intersex {
  background-image: linear-gradient(#d7abcf calc((100%/6) * 1), #fff calc((100%/6) * 1), #fff calc((100%/6) * 2), #9fcdef calc((100%/6) * 2), #9fcdef calc((100%/6) * 2.5), #f0b8d5 calc((100%/6) * 3.5), #f0b8d5 calc((100%/6) * 4), #fff calc((100%/6) * 4), #fff calc((100%/6) * 5), #d7abcf calc((100%/6) * 5));
}

.pride--lesbian {
  background-image: linear-gradient(#d52d00 calc((100%/5) * 1), #ff9a56 calc((100%/5) * 1), #ff9a56 calc((100%/5) * 2), #fff calc((100%/5) * 2), #fff calc((100%/5) * 3), #d362a4 calc((100%/5) * 3), #d362a4 calc((100%/5) * 4), #a30262 calc((100%/5) * 4));
}

.pride--lesbian2 {
  background-image: linear-gradient(#d52d00 calc((100%/7) * 1), #ef7427 calc((100%/7) * 1), #ef7427 calc((100%/7) * 2), #ff9a56 calc((100%/7) * 2), #ff9a56 calc((100%/7) * 3), #fff calc((100%/7) * 3), #fff calc((100%/7) * 4), #d362a4 calc((100%/7) * 4), #d362a4 calc((100%/7) * 5), #c23a92 calc((100%/7) * 5), #c23a92 calc((100%/7) * 6), #a30262 calc((100%/7) * 6));
}

.pride--lesbian3 {
  background-image: linear-gradient(#639 calc((100%/4) * 1), #fc3 calc((100%/4) * 1), #fc3 calc((100%/4) * 2), #6c3 calc((100%/4) * 2), #6c3 calc((100%/4) * 3), #f69 calc((100%/4) * 3));
}

.pride--maverique {
  background-image: linear-gradient(#fff342 calc((100%/3) * 1), #fff calc((100%/3) * 1), #fff calc((100%/3) * 2), #f4971c calc((100%/3) * 2));
}

.pride--mlm {
  background-image: linear-gradient(#078e70 calc((100%/7) * 1), #26ceaa calc((100%/7) * 1), #26ceaa calc((100%/7) * 2), #9ae8c1 calc((100%/7) * 2), #9ae8c1 calc((100%/7) * 3), #fff calc((100%/7) * 3), #fff calc((100%/7) * 4), #7bade2 calc((100%/7) * 4), #7bade2 calc((100%/7) * 5), #5049cb calc((100%/7) * 5), #5049cb calc((100%/7) * 6), #3d1a78 calc((100%/7) * 6));
}

.pride--mlm2 {
  background-image: linear-gradient(#039070 calc((100%/7) * 1), #01c9bc calc((100%/7) * 1), #01c9bc calc((100%/7) * 2), #86eeed calc((100%/7) * 2), #86eeed calc((100%/7) * 3), #fff calc((100%/7) * 3), #fff calc((100%/7) * 4), #7dcaf8 calc((100%/7) * 4), #7dcaf8 calc((100%/7) * 5), #049cf0 calc((100%/7) * 5), #049cf0 calc((100%/7) * 6), #022a8a calc((100%/7) * 6));
}

.pride--mlm3 {
  background-image: linear-gradient(#ffdb52 calc((100%/7) * 1), #ffbe00 calc((100%/7) * 1), #ffbe00 calc((100%/7) * 2), #ff8a20 calc((100%/7) * 2), #ff8a20 calc((100%/7) * 3), #fff calc((100%/7) * 3), #fff calc((100%/7) * 4), #7a41a9 calc((100%/7) * 4), #7a41a9 calc((100%/7) * 5), #69379a calc((100%/7) * 5), #69379a calc((100%/7) * 6), #502887 calc((100%/7) * 6));
}

.pride--neutrois {
  background-image: linear-gradient(#000 calc((100%/3) * 1), #fff calc((100%/3) * 1), #fff calc((100%/3) * 2), #2f9c1d calc((100%/3) * 2));
}

.pride--nb {
  background-image: linear-gradient(#fff430 calc((100%/4) * 1), #fff calc((100%/4) * 1), #fff calc((100%/4) * 2), #9c59d1 calc((100%/4) * 2), #9c59d1 calc((100%/4) * 3), #000 calc((100%/4) * 3));
}

.pride--nb2 {
  background-image: linear-gradient(#000 calc((100%/4) * 1), #fff calc((100%/4) * 1), #fff calc((100%/4) * 2), #ff7f26 calc((100%/4) * 2), #ff7f26 calc((100%/4) * 3), #b5e51d calc((100%/4) * 3));
}

.pride--nb3 {
  background-image: linear-gradient(#a349a3 calc((100%/4) * 1), #fff calc((100%/4) * 1), #fff calc((100%/4) * 2), #ff7f26 calc((100%/4) * 2), #ff7f26 calc((100%/4) * 3), #b5e51d calc((100%/4) * 3));
}

.pride--pan {
  background-image: linear-gradient(#ff1b8d calc((100%/3) * 1), #ffd900 calc((100%/3) * 1), #ffd900 calc((100%/3) * 2), #1bb2ff calc((100%/3) * 2));
}

.pride--philadelphia {
  background-image: linear-gradient(#000 calc((100%/8) * 1), #794e10 calc((100%/8) * 1), #794e10 calc((100%/8) * 2), #e40303 calc((100%/8) * 2), #e40303 calc((100%/8) * 3), #ff8c00 calc((100%/8) * 3), #ff8c00 calc((100%/8) * 4), #ffed00 calc((100%/8) * 4), #ffed00 calc((100%/8) * 5), #008026 calc((100%/8) * 5), #008026 calc((100%/8) * 6), #004dff calc((100%/8) * 6), #004dff calc((100%/8) * 7), #750787 calc((100%/8) * 7));
}

.pride--polygender {
  background-image: linear-gradient(#000 calc((100%/5) * 1), #939393 calc((100%/5) * 1), #939393 calc((100%/5) * 2), #ec95c5 calc((100%/5) * 2), #ec95c5 calc((100%/5) * 3), #f5ed80 calc((100%/5) * 3), #f5ed80 calc((100%/5) * 4), #65bbe7 calc((100%/5) * 4));
}

.pride--polysexual {
  background-image: linear-gradient(#f615ba calc((100%/3) * 1), #01d669 calc((100%/3) * 1), #01d669 calc((100%/3) * 2), #1593f6 calc((100%/3) * 2));
}

.pride--sapphic {
  background-image: linear-gradient(#ff89ab calc((100%/3) * 1), #fff calc((100%/3) * 1), #fff calc((100%/3) * 2), #ff89ab calc((100%/3) * 2));
}

.pride--trans {
  background-image: linear-gradient(#5bcefa calc((100%/5) * 1), #f5a9b8 calc((100%/5) * 1), #f5a9b8 calc((100%/5) * 2), #fff calc((100%/5) * 2), #fff calc((100%/5) * 3), #f5a9b8 calc((100%/5) * 3), #f5a9b8 calc((100%/5) * 4), #5bcefa calc((100%/5) * 4));
}
