$flag-agender:
    #000000 calc((100%/7)*1), 
    #BCC5C6 calc((100%/7)*1), #BCC5C6 calc((100%/7)*2),
    #ffffff calc((100%/7)*2), #ffffff calc((100%/7)*3),
    #B5F680 calc((100%/7)*3), #B5F680 calc((100%/7)*4),
    #ffffff calc((100%/7)*4), #ffffff calc((100%/7)*5),
    #BCC5C6 calc((100%/7)*5), #BCC5C6 calc((100%/7)*6),
    #000000 calc((100%/7)*6);
$flag-agender2:
    #000000 calc((100%/5)*1), 
    #ffffff calc((100%/5)*1), #ffffff calc((100%/5)*2),
    #B5F680 calc((100%/5)*2), #B5F680 calc((100%/5)*3),
    #ffffff calc((100%/5)*3), #ffffff calc((100%/5)*4),
    #000000 calc((100%/5)*4);
$flag-androgyne:
    #DB4E62 calc((100%/5)*1), 
    #C080D8 calc((100%/5)*1), #C080D8 calc((100%/5)*2),
    #E9CC54 calc((100%/5)*2), #E9CC54 calc((100%/5)*3),
    #696969 calc((100%/5)*3), #696969 calc((100%/5)*4),
    #5381D8 calc((100%/5)*4);
$flag-androgyne2:
    #FE007F calc((100%/3)*1), 
    #9833FF calc((100%/3)*1), #9833FF calc((100%/3)*2),
    #00B7E8 calc((100%/3)*2);
$flag-aromantic:
    #3DA542 calc((100%/5)*1), 
    #A9D27A calc((100%/5)*1), #A9D27A calc((100%/5)*2),
    #ffffff calc((100%/5)*2), #ffffff calc((100%/5)*3),
    #A9A9A9 calc((100%/5)*3), #A9A9A9 calc((100%/5)*4),
    #000000 calc((100%/5)*4);
$flag-aromantic2:
    #3DA542 calc((100%/5)*1), 
    #A9D27A calc((100%/5)*1), #A9D27A calc((100%/5)*2),
    #FFFF66 calc((100%/5)*2), #FFFF66((100%/5)*3),
    #A9A9A9 calc((100%/5)*3), #A9A9A9 calc((100%/5)*4),
    #000000 calc((100%/5)*4);
$flag-aromantic3:
    #7DBE00 calc((100%/4)*1), 
    #FFF300 calc((100%/4)*1), #FFF300 calc((100%/4)*2),
    #FF7000 calc((100%/4)*2), #FF7000 calc((100%/4)*3),
    #000000 calc((100%/4)*3);
$flag-asexual:
    #000000 calc((100%/4)*1), 
    #a3a3a3 calc((100%/4)*1), #a3a3a3 calc((100%/4)*2),
    #ffffff calc((100%/4)*2), #ffffff calc((100%/4)*3),
    #800080 calc((100%/4)*3);
$flag-bisexual:
    #d60270 calc((100%/5)*2),
    #9b4f96 calc((100%/5)*2), #9b4f96 calc((100%/5)*3),
    #0038a8 calc((100%/5)*3);
$flag-demiboy:
    #7F7F7F calc((100%/7)*1), 
    #C3C3C3 calc((100%/7)*1), #C3C3C3 calc((100%/7)*2),
    #9AD9EA calc((100%/7)*2), #9AD9EA calc((100%/7)*3),
    #ffffff calc((100%/7)*3), #ffffff calc((100%/7)*4),
    #9AD9EA calc((100%/7)*4), #9AD9EA calc((100%/7)*5),
    #C3C3C3 calc((100%/7)*5), #C3C3C3 calc((100%/7)*6),
    #7F7F7F calc((100%/7)*6);
$flag-demigender:
    #7F7F7F calc((100%/7)*1), 
    #C3C3C3 calc((100%/7)*1), #C3C3C3 calc((100%/7)*2),
    #FBFF74 calc((100%/7)*2), #FBFF74 calc((100%/7)*3),
    #ffffff calc((100%/7)*3), #ffffff calc((100%/7)*4),
    #FBFF74 calc((100%/7)*4), #FBFF74 calc((100%/7)*5),
    #C3C3C3 calc((100%/7)*5), #C3C3C3 calc((100%/7)*6),
    #7F7F7F calc((100%/7)*6);
$flag-demigirl:
    #7F7F7F calc((100%/7)*1), 
    #C3C3C3 calc((100%/7)*1), #C3C3C3 calc((100%/7)*2),
    #FEAEC9 calc((100%/7)*2), #FEAEC9 calc((100%/7)*3),
    #ffffff calc((100%/7)*3), #ffffff calc((100%/7)*4),
    #FEAEC9 calc((100%/7)*4), #FEAEC9 calc((100%/7)*5),
    #C3C3C3 calc((100%/7)*5), #C3C3C3 calc((100%/7)*6),
    #7F7F7F calc((100%/7)*6);
$flag-gay:
    #e40303 calc((100%/6)*1), 
    #ff8c00 calc((100%/6)*1), #ff8c00 calc((100%/6)*2),
    #ffed00 calc((100%/6)*2), #ffed00 calc((100%/6)*3),
    #008026 calc((100%/6)*3), #008026 calc((100%/6)*4),
    #004dff calc((100%/6)*4), #004dff calc((100%/6)*5),
    #750787 calc((100%/6)*5);
$flag-genderfluid:
    #ff75a2 calc((100%/5)*1), 
    #ffffff calc((100%/5)*1), #ffffff calc((100%/5)*2),
    #be18d6 calc((100%/5)*2), #be18d6 calc((100%/5)*3),
    #000000 calc((100%/5)*3), #000000 calc((100%/5)*4),
    #333ebd calc((100%/5)*4);
$flag-genderqueer:
    #B899DD calc((100%/3)*1), 
    #ffffff calc((100%/3)*1), #ffffff calc((100%/3)*2),
    #6B8E3A calc((100%/3)*2);
$flag-gilbertbaker:
    #FF69B5 calc((100%/8)*1), 
    #FF0000 calc((100%/8)*1), #FF0000 calc((100%/8)*2),
    #FF8F00 calc((100%/8)*2), #FF8F00 calc((100%/8)*3),
    #FFFF00 calc((100%/8)*3), #FFFF00 calc((100%/8)*4),
    #008F00 calc((100%/8)*4), #008F00 calc((100%/8)*5),
    #00C1C1 calc((100%/8)*5), #00C1C1 calc((100%/8)*6),
    #3E0099 calc((100%/8)*6), #3E0099 calc((100%/8)*7),
    #8F008F calc((100%/8)*7);
$flag-intersex:
    #D7ABCF calc((100%/6)*1), 
    #FFFFFF calc((100%/6)*1),  #FFFFFF calc((100%/6)*2),
    #9FCDEF calc((100%/6)*2),  #9FCDEF calc((100%/6)*2.5),
    #F0B8D5 calc((100%/6)*3.5),#F0B8D5 calc((100%/6)*4),
    #FFFFFF calc((100%/6)*4),  #FFFFFF calc((100%/6)*5),
    #D7ABCF calc((100%/6)*5);
$flag-lesbian:
    #d52d00 calc((100%/5)*1), 
    #ff9a56 calc((100%/5)*1), #ff9a56 calc((100%/5)*2),
    #ffffff calc((100%/5)*2), #ffffff calc((100%/5)*3),
    #d362a4 calc((100%/5)*3), #d362a4 calc((100%/5)*4),
    #a30262 calc((100%/5)*4);
$flag-lesbian2:
    #d52d00 calc((100%/7)*1), 
    #ef7427 calc((100%/7)*1), #ef7427 calc((100%/7)*2),
    #ff9a56 calc((100%/7)*2), #ff9a56 calc((100%/7)*3),
    #ffffff calc((100%/7)*3), #ffffff calc((100%/7)*4),
    #d362a4 calc((100%/7)*4), #d362a4 calc((100%/7)*5),
    #C23A92 calc((100%/7)*5), #C23A92 calc((100%/7)*6),
    #a30262 calc((100%/7)*6);
$flag-lesbian3:
    #663399 calc((100%/4)*1), 
    #FFCC33 calc((100%/4)*1), #FFCC33 calc((100%/4)*2),
    #66CC33 calc((100%/4)*2), #66CC33 calc((100%/4)*3),
    #FF6699 calc((100%/4)*3);
$flag-mlm:
    #078E70 calc((100%/7)*1), 
    #26CEAA calc((100%/7)*1), #26CEAA calc((100%/7)*2),
    #9AE8C1 calc((100%/7)*2), #9AE8C1 calc((100%/7)*3),
    #ffffff calc((100%/7)*3), #ffffff calc((100%/7)*4),
    #7BADE2 calc((100%/7)*4), #7BADE2 calc((100%/7)*5),
    #5049CB calc((100%/7)*5), #5049CB calc((100%/7)*6),
    #3D1A78 calc((100%/7)*6);
$flag-mlm2:
    #039070 calc((100%/7)*1), 
    #01C9BC calc((100%/7)*1), #01C9BC calc((100%/7)*2),
    #86EEED calc((100%/7)*2), #86EEED calc((100%/7)*3),
    #ffffff calc((100%/7)*3), #ffffff calc((100%/7)*4),
    #7DCAF8 calc((100%/7)*4), #7DCAF8 calc((100%/7)*5),
    #049CF0 calc((100%/7)*5), #049CF0 calc((100%/7)*6),
    #022A8A calc((100%/7)*6);
$flag-mlm3:
    #FFDB52 calc((100%/7)*1), 
    #FFBE00 calc((100%/7)*1), #FFBE00 calc((100%/7)*2),
    #FF8A20 calc((100%/7)*2), #FF8A20 calc((100%/7)*3),
    #ffffff calc((100%/7)*3), #ffffff calc((100%/7)*4),
    #7A41A9 calc((100%/7)*4), #7A41A9 calc((100%/7)*5),
    #69379A calc((100%/7)*5), #69379A calc((100%/7)*6),
    #502887 calc((100%/7)*6);
$flag-neutrois:
    #000000 calc((100%/3)*1), 
    #ffffff calc((100%/3)*1), #ffffff calc((100%/3)*2),
    #2F9C1D calc((100%/3)*2);
$flag-nonbinary:
    #fff430 calc((100%/4)*1), 
    #ffffff calc((100%/4)*1), #ffffff calc((100%/4)*2),
    #9c59d1 calc((100%/4)*2), #9c59d1 calc((100%/4)*3),
    #000000 calc((100%/4)*3);
$flag-nonbinary2:
    #000000 calc((100%/4)*1), 
    #ffffff calc((100%/4)*1), #ffffff calc((100%/4)*2),
    #FF7F26 calc((100%/4)*2), #FF7F26 calc((100%/4)*3),
    #B5E51D calc((100%/4)*3);
$flag-nonbinary3:
    #A349A3 calc((100%/4)*1), 
    #ffffff calc((100%/4)*1), #ffffff calc((100%/4)*2),
    #FF7F26 calc((100%/4)*2), #FF7F26 calc((100%/4)*3),
    #B5E51D calc((100%/4)*3);
$flag-pansexual:
    #FF1B8D calc((100%/3)*1), 
    #FFD900 calc((100%/3)*1), #FFD900 calc((100%/3)*2),
    #1BB2FF calc((100%/3)*2);
$flag-philadelphia:
    #000000 calc((100%/8)*1), 
    #794E10 calc((100%/8)*1), #794E10 calc((100%/8)*2),
    #e40303 calc((100%/8)*2), #e40303 calc((100%/8)*3),
    #ff8c00 calc((100%/8)*3), #ff8c00 calc((100%/8)*4),
    #ffed00 calc((100%/8)*4), #ffed00 calc((100%/8)*5),
    #008026 calc((100%/8)*5), #008026 calc((100%/8)*6),
    #004dff calc((100%/8)*6), #004dff calc((100%/8)*7),
    #750787 calc((100%/8)*7);
$flag-polysexual:
    #F615BA calc((100%/3)*1), 
    #01D669 calc((100%/3)*1), #01D669 calc((100%/3)*2),
    #1593F6 calc((100%/3)*2);
$flag-transgender:
    #5bcefa calc((100%/5)*1), 
    #f5a9b8 calc((100%/5)*1), #f5a9b8 calc((100%/5)*2),
    #ffffff calc((100%/5)*2), #ffffff calc((100%/5)*3),
    #f5a9b8 calc((100%/5)*3), #f5a9b8 calc((100%/5)*4),
    #5bcefa calc((100%/5)*4);

$flags: (
    "agender": $flag-agender,
    "agender2": $flag-agender2,
    "androgyne": $flag-androgyne,
    "androgyne2": $flag-androgyne2,
    "aro": $flag-aromantic,
    "aro2": $flag-aromantic2,
    "aro3": $flag-aromantic3,
    "ace": $flag-asexual,
    "bi": $flag-bisexual,
    "demiboy": $flag-demiboy,
    "demigender": $flag-demigender,
    "demigirl": $flag-demigirl,
    "gay": $flag-gay,
    "genderfluid": $flag-genderfluid,
    "genderqueer": $flag-genderqueer,
    "gilbertbaker": $flag-gilbertbaker,
    "intersex": $flag-intersex,
    "lesbian": $flag-lesbian,
    "lesbian2": $flag-lesbian2,
    "lesbian3": $flag-lesbian3,
    "mlm": $flag-mlm,
    "mlm2": $flag-mlm2,
    "mlm3": $flag-mlm3,
    "neutrois": $flag-neutrois,
    "nb": $flag-nonbinary,
    "nb2": $flag-nonbinary2,
    "nb3": $flag-nonbinary3,
    "pan": $flag-pansexual,
    "philadelphia": $flag-philadelphia,
    "poly": $flag-polysexual,
    "trans": $flag-transgender
);

@each $name, $flag in $flags {
    .pride {
        &--#{$name} {
            background-image: linear-gradient($flag);
        }
        &--horizontal--#{$name} {
            background-image: linear-gradient(to right, $flag);
        }
        &--topleft--#{$name} {
            background-image: linear-gradient(135deg, $flag);
        }
        &--topright--#{$name} {
            background-image: linear-gradient(-135deg, $flag);
        }
        &--bottomright--#{$name} {
            background-image: linear-gradient(-45deg, $flag);
        }
        &--bottomleft--#{$name} {
            background-image: linear-gradient(45deg, $flag);
        }
        &--radial {
            &--#{$name} {
                background-image: radial-gradient(circle, $flag);
            }
            &--top--#{$name} {
                background-image: radial-gradient(ellipse at top, $flag);
            }
            &--bottom--#{$name} {
                background-image: radial-gradient(ellipse at bottom, $flag);
            }
            &--left--#{$name} {
                background-image: radial-gradient(ellipse at left, $flag);
            }
            &--right--#{$name} {
                background-image: radial-gradient(ellipse at right, $flag);
            }
            &--topleft--#{$name} {
                background-image: radial-gradient(ellipse at top left, $flag);
            }
            &--topright--#{$name} {
                background-image: radial-gradient(ellipse at top right, $flag);
            }
            &--bottomright--#{$name} {
                background-image: radial-gradient(ellipse at bottom right, $flag);
            }
            &--bottomleft--#{$name} {
                background-image: radial-gradient(ellipse at bottom left, $flag);
            }
        }
        &--border {
            &--thin--#{$name} {
                border: 1px solid;
                border-image-source: linear-gradient($flag);
                border-image-slice: 1;
            }
            &--medium--#{$name} {
                border: 3px solid;
                border-image-source: linear-gradient($flag);
                border-image-slice: 3;
            }
            &--thick--#{$name} {
                border: 5px solid;
                border-image-source: linear-gradient($flag);
                border-image-slice: 5;
            }
            &--dummythicc--#{$name} {
                border: 50px solid;
                border-image-source: linear-gradient($flag);
                border-image-slice: 50;
            }
        }
    }
}